*{
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;;
}
/* header css */

.main-logo{
  color: red;
}
.nav-item:hover{
  border-bottom: 1px solid red;
}

.wes{
    background-color: #545155;
  }
  








/* footer css */
footer{
  list-style: none;
  text-decoration: none !important;
  background-color: black;
 
}
.bct{
border: none;
font-weight: 900;
background-color: black;

}
.bct a{

color: red !important;
text-decoration: none;
}
.bct:hover{
border-bottom: 1px solid red !important;
}