*{
    font-family: "Roboto", sans-serif;
}

ul li a
{
/* color: white !important;  */
font-weight: 900;
}
ul li a:hover{
    background-color: red;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.navbar-light .navbar-toggler-icon
{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28225, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.navbar-light .navbar-toggler{
        border: 1px solid red;
}

.navbar-light.navbar-toggler:focus
{
border: none;
}


    .navbar-brand img{
        width: 100px;
    }

    .carousel-caption p{
        margin-top: 100px;
    }
        

.sec-2{
    margin-top: 10px;
}

footer{
    list-style: none;
    text-decoration: none !important;
    background-color: beige;
}

.d-flex .justify-content-center .justify-content-lg-between .p-4 .border-bottom{
    border: 1px solid red;
}