*{
    font-family: "Roboto", sans-serif;
}

ul li a
{
color: white !important;    
font-weight: 900;
text-decoration: none;
}
ul li a:hover{
    border-bottom: 1px solid red;
    
}

.navbar-light .navbar-toggler-icon
{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28225, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
.main-logo{
    color: red;
}
.navbar-light .navbar-toggler{
        border: 1px solid green;
}

.navbar-light.navbar-toggler:focus
{
border: none;
}


    .navbar-brand img{
        width: 100px;
    }

    .carousel-caption p{
        margin-top: 100px;
    }
        

.sec-2{
    margin-top: 10px;
}

footer{
    list-style: none;
    text-decoration: none !important;
    background-color: beige;
}

.btn-primary{
    background-color:  green;
    border: red;
}
.card{
    /* border: 1px solid red; */
    border-radius: 20px;
}
.bct{
    border: none;
    background-color: #F5F5DC; 
    font-weight: 900;

}
.bct a{
    
    color: red !important;
    text-decoration: none;
}
.bct:hover{
    border-bottom: 1px solid red !important;
}
.wes{
    background-color: #545155;
}
